# Ignore all files in the build folder
lib/clientBuild/build/static/js/787.7ba370de.chunk.js
lib/clientBuild/build/static/js/787.7ba370de.chunk.js.map
lib/clientBuild/build/static/js/main.39b13cc5.js
lib/clientBuild/build/static/js/main.39b13cc5.js.LICENSE.txt
lib/clientBuild/build/static/js/main.39b13cc5.js.map