name: Jest Tests

on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    container: node:latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: knail
          POSTGRES_PASSWORD: knail
    steps:
      - uses: actions/checkout@v2
      - run: npm ci --dev
      - run: npx eslint .
      - run: npm run setup-test-db
        env:
          DATABASE_URL: postgres://knail:knail@postgres:5432/knail
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
          SALT_ROUNDS: ${{ secrets.SALT_ROUNDS }}
          COOKIE_NAME: ${{ secrets.COOKIE_NAME }}
          ALLOWED_EMAILS: ${{secrets.ALLOWED_EMAILS}}
      - run: npm test -- -u --runInBand --detectOpenHandles --forceExit

        env:
          CI: true
          DATABASE_URL: postgres://knail:knail@postgres:5432/knail
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
          SALT_ROUNDS: ${{ secrets.SALT_ROUNDS }}
          COOKIE_NAME: ${{ secrets.COOKIE_NAME }}
          ALLOWED_EMAILS: ${{secrets.ALLOWED_EMAILS}}
          EMAIL_VERIFY_SECRET: ${{secrets.EMAIL_VERIFY_SECRET}}
